---
version: 2
interactions:
    - id: 0
      request:
        host: www.treccani.it
        body: ""
        form: {}
        headers: {}
        url: https://www.treccani.it/vocabolario/birba/
        method: GET
      response:
        body: /
        headers:
            Location:
                - /
            Refresh:
                - 0;url=/
        status: 308 Permanent Redirect
        code: 308
        duration: 7.861901542s
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://www.treccani.it/
        method: GET
      response:
        body: |-
            <!DOCTYPE html><html lang="it"><head><meta charSet="utf-8" data-next-head=""/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" data-next-head=""/><meta name="robots" content="index, follow" data-next-head=""/><title data-next-head="">Treccani, il portale del sapere - Treccani</title><meta name="description" content="Treccani - La cultura italiana. Ricerca tra oltre un milione di lemmi e vocaboli. Consulta gli approfondimenti multimediali dei nostri magazine in ambito culturale, geopolitico, scientifico e didattico" data-next-head=""/><link rel="canonical" href="https://www.treccani.it/" data-next-head=""/><meta property="og:site_name" content="Treccani" data-next-head=""/><meta property="og:title" content="Treccani, il portale del sapere - Treccani" data-next-head=""/><meta property="og:description" content="Treccani - La cultura italiana. Ricerca tra oltre un milione di lemmi e vocaboli. Consulta gli approfondimenti multimediali dei nostri magazine in ambito culturale, geopolitico, scientifico e didattico" data-next-head=""/><met[...]
