---
version: 2
interactions:
    - id: 0
      request:
        host: www.treccani.it
        body: ""
        form: {}
        headers: {}
        url: https://www.treccani.it/vocabolario/birba/
        method: GET
      response:
        body: /
        headers:
            Location:
                - /
            Refresh:
                - 0;url=/
        status: 308 Permanent Redirect
        code: 308
        duration: 16.613452ms
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://www.treccani.it/
        method: GET
      response:
        body: "<!DOCTYPE html><html lang=\"it\"><head><meta charSet=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=5\"/><meta name=\"robots\" content=\"index, follow\"/><title>Treccani, il portale del sapere - Treccani</title><meta name=\"description\" content=\"Treccani - La cultura italiana. Ricerca tra oltre un milione di lemmi e vocaboli. Consulta gli approfondimenti multimediali dei nostri magazine in ambito culturale, geopolitico, scientifico e didattico\"/><link rel=\"canonical\" href=\"https://www.treccani.it/\"/><meta property=\"og:site_name\" content=\"Treccani\"/><meta property=\"og:title\" content=\"Treccani, il portale del sapere - Treccani\"/><meta property=\"og:description\" content=\"Treccani - La cultura italiana. Ricerca tra oltre un milione di lemmi e vocaboli. Consulta gli approfondimenti multimediali dei nostri magazine in ambito culturale, geopolitico, scientifico e didattico\"/><meta property=\"og:image\" content=\"https://www.treccani.it/assets/images/treccani_social_share.jpg\"/><link rel=\"manifest\" href=\"/manifest.json\" crossorigin=\"use-credentials\"/><link rel=\"apple-touch-icon\" href=\"/logo-96x96.png\"/><meta name=\"theme-color\" content=\"#000\"/><meta name=\"apple-mobile-web-app-status-bar\" content=\"#000\"/><meta name=\"next-head-count\" content=\"14\"/><script id=\"gpt-script-init-1\" data-nscript=\"beforeInteractive\">\n            var googletag = googletag || {};\n            googletag.cmd = googletag.cmd || [];\n            </script><script id=\"imrworldwide-inline-script\" type=\"text/javascript\" data-nscript=\"beforeInteractive\">\n                // Static Queue Snippet\n              ! function(t, n) {\n                  t[n] = t[n] || {\n                      nlsQ: function(e, o, c, r, s, i) {\n                          return s = t.document,[...]
    - id: 2
      request:
        host: www.treccani.it
        body: ""
        form: {}
        headers: {}
        url: https://www.treccani.it/vocabolario/birba1/
        method: GET
      response:
        body: "<!DOCTYPE html><html lang=\"it\"><head><meta charSet=\"utf-8\"/><link rel=\"canonical\" href=\"https://www.treccani.it/vocabolario/birba1/\"/><meta property=\"og:site_name\" content=\"Treccani\"/><meta property=\"og:title\" content=\"birba¹ - Treccani - Treccani\"/><meta property=[...]
[...]
