---
version: 2
interactions:
    - id: 0
      request:
        host: www.treccani.it
        body: ""
        form: {}
        headers: {}
        url: https://www.treccani.it/vocabolario/ciao/
        method: GET
      response:
        body: "<!DOCTYPE html><html lang=\"it\"><head><meta charSet=\"utf-8\"/><link rel=\"canonical\" href=\"https://www.treccani.it/vocabolario/ciao/\"/><meta property=\"og:site_name\" content=\"Treccani\"/><meta property=\"og:title\" content=\"ciao - Treccani - Treccani\"/><meta property=\"og:image\" content=\"https://www.treccani.it/assets/images/treccani_social_share.jpg\"/><link rel=\"manifest\" href=\"/manifest.json\" crossorigin=\"use-credentials\"/><link rel=\"apple-touch-icon\" href=\"/logo-96x96.png\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=5\"/><meta name=\"robots\" content=\"index, follow\"/><title>ciao in Vocabolario - Treccani - Treccani - Treccani</title><meta name=\"description\" content=\"ciao \n\ninteriez. e s. m. [voce di origine veneta, da s-ciao, s-ciavo, propr. «(sono vostro) schiavo»]. – Forma di saluto amichevole, un tempo frequente soprattutto nell’Italia settentr., ora di uso internazionale; si rivolge, al momento dell’incontro o della separazione, a una o più persone a cui si dà del tu: c., come stai?; C. a tutti, sono Aldo Nove e ho scritto alcuni libri apprezzati dal pubbl[...]
