---
version: 2
interactions:
    - id: 0
      request:
        host: www.treccani.it
        body: ""
        form: {}
        headers: {}
        url: https://www.treccani.it/vocabolario/esempio/
        method: GET
      response:
        body: "<!DOCTYPE html><html lang=\"it\"><head><meta charSet=\"utf-8\"/><link rel=\"canonical\" href=\"https://www.treccani.it/vocabolario/esempio/\"/><meta property=\"og:site_name\" content=\"Treccani\"/><meta property=\"og:title\" content=\"eṡèmpio - Treccani - Treccani\"/><meta property=\"og:image\" content=\"https://www.treccani.it/assets/images/treccani_social_share.jpg\"/><link rel=\"manifest\" href=\"/manifest.json\" crossorigin=\"use-credentials\"/><link rel=\"apple-touch-icon\" href=\"/logo-96x96.png\"/><meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=5\"/><meta name=\"robots\" content=\"index, follow\"/><title>eṡèmpio in Vocabolario - Treccani - Treccani - Treccani</title><meta name=\"description\" content=\"esempio \n\neṡèmpio (ant. eṡèmplo, exèmpio, essèmpio, essèmplo, essèmpro, assèmplo, assèmpro, e anche aṡèmplo, aṡèmpro) s. m. [dal lat. exemplum, ...\"/><link rel=\"canonical\" href=\"https://www.treccani.it/vocabolario/esempio/\"/><meta property=\"og:site_name\" content=\"Treccani\"/><meta property=\"og:title\" content=\"eṡèmpio in Vocabolario - Treccani - Treccani - Treccani\"/><meta property=\"og:description\" content=\"esempio \n\neṡèmpio (ant. eṡèmplo, exèmpio, essèmpio, essèmplo, essèmpro, assèmplo, assèmpro, e anche aṡèmplo, aṡèmpro) s. m. [dal lat. exemplum, ...\"/><meta property=\"og:image\" content=\"https://images.treccani.it/enc/media/images/social=200x200.jpg\"/><link rel=\"manifest\" href=\"/manifest.json\" crossorigin=\"use-credentials\"/><link rel=\"apple-touch-icon\" href=\"/logo-96x96.png\"/><meta name=\"theme-color\" content=\"#000\"/><meta name=\"apple-mobile-web-app-status-bar\" content=\"#000\"/><meta name=\"next-head-count\" content=\"20\"/><link rel=\"preload\" href=\"/_next/static/css/6114e3710cf64167.css\" as=\"style\"/><link rel=\"stylesheet\" href=\"/_next/static/css/6114e3710cf64167.css\" data-n-g=\"\"/><link rel=\"preload\" href=\"/_next/static/css/1e38846412b652b2.css\" as=\"style\"/><link rel=\"stylesheet\" href=\"/_next/static/css/1e38846412b652b2.css\" data-n-p=\"\"/><noscript data-n-css=\"\"></noscript><script defer=\"\" nomodule=\"\" src=\"/_next/static/chunks/polyfills-78c92fac7aa8fdd8.js\"></script><script src=\"//app.storyblok.com/f/storyblok-v2-latest.js\" defer=\"\" data-nscript=\"beforeInteractive\"></script><script src=\"/_next/static/chunks/webpack-e81585bb9a6b8f4d.js\" defer=\"\"></script><script src=\"/_next/static/chunks/framework-2645a99191cfc5e9.js\" defer=\"\"></script><script src=\"/_next/static/chunks/main-5ce6cedd9532a07a.js\" defer=\"\"></script><script src=\"/_next/static/chunks/pages/_app-418f3df85e0435b4.js\" defer=\"\"></script><script src=\"/_next/static/chunks/6028-14728934bd3e227a.js\" defer=\"\"></script><script src=\"/_next/static/chunks/9033-0c211d81261bb25f.js\" defer=\"\"></script><script src=\"/_next/static/chunks/3195-7b1887b5544c1dbd.js\" defer=\"\"></script><script src=\"/_next/static/chunks/pages/vocabolario/%5BtermOrCategory%5D-2ad075dbfc0ff87b.js\" defer=\"\"></script><script src=\"/_next/static/yFd7aoaB-eUdgZzKn4rnF/_buildManifest.js\" defer=\"\"></script><script src=\"/_next/static/yFd7aoaB-eUdgZzKn4rnF/_ssgManifest.js\" defer=\"\"></script></head><body><div id=\"__next\"><style>\n    #nprogress {\n      pointer-events: none;\n    }\n    #nprogress .bar {\n      background: #584446;\n      position: fixed;\n      z-index: 9999;\n      top: 0;\n      left: 0;\n      width: 100%;\n      height: 3px;\n    }\n    #nprogress .peg {\n      display: block;\n      position: absolute;\n      right: 0px;\n      width: 100px;\n      height: 100%;\n      box-shadow: 0 0 10px #584446, 0 0 5px #584446;\n      opacity: 1;\n      -webkit-transform: rotate(3deg) translate(0px, -4px);\n [...]
