---
version: 2
interactions:
    - id: 0
      request:
        host: www.treccani.it
        body: ""
        form: {}
        headers: {}
        url: https://www.treccani.it/vocabolario/inexistent/
        method: GET
      response:
        body: /
        headers:
            Location:
                - /
            Refresh:
                - 0;url=/
        status: 308 Permanent Redirect
        code: 308
        duration: 93.398481ms
    - id: 1
      request:
        host: ""
        body: ""
        form: {}
        headers:
        url: https://www.treccani.it/
        method: GET
      response:
        body: |-
            <!DOCTYPE html><html lang="it"><head><meta charSet="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/><meta name="robots" content="index, follow"/><title>Treccani, il portale del sapere - Treccani</title><meta name="description" content="Treccani - La cultura italiana. Ricerca tra oltre un milione di lemmi e vocaboli. Consulta gli approfondimenti multimediali dei nostri magazine in ambito culturale, geopolitico, scientifico e didattico"/><link rel="canonical" href="https://www.treccani.it/"/><meta property="og:site_name" content="Treccani"/><meta property="og:title" content="Treccani, il portale del sapere - Treccani"/><meta property="og:description" content="Treccani - La cultura italiana. Ricerca tra oltre un milione di lemmi e vocaboli. Consulta gli approfondimenti multimediali dei nostri magazine in ambito culturale, geopolitico, scientifico e didattico"/><meta property="og:image" content="https://www.treccani.it/assets/images/treccani_social_share.jpg"/><link rel="manifest" href="/manifest.json" crossorigin="use-credentials"/><link rel="apple-touch-icon" href="/logo-96x96.png"/><meta name="theme-color" content="#000"/><meta name="apple-mobile-web-app-status-bar" content="#000"/><meta name="next-head-count" content="14"/><link rel="preload" href="/_next/static/css/6114e3710cf64167.css" as="style"/><link rel="stylesheet" href="/_next/static/css/6114e3710cf64167.css" data-n-g=""/><noscript data-n-css=""></noscript><script defer="" nomodule="" src="/_next/static/chunks/polyfills-78c92fac7aa8fdd8.js"></script><script src="//app.storyblok.com/f/storyblok-v2-latest.js" defer="" data-nscript="beforeInteractive"></script><script src="/_next/static/chunks/webpack-e81585bb9a6b8f4d.js" defer=""></script><script src="/_next/static/chunks/framework-2645a99191cfc5e9.js" defer=""></script><script src="/_next/static/chunks/main-5ce6cedd9532a07a.js" defer=""></script><script src="/_next/static/chunks/pages/_app-418f3df85e0435b4.js" defer=""></script><script src="/_next/static/chunks/pages/%5B%5B...slug%5D%5D-7030b848a1714049.js" defer=""></script><script src="/_next/static/yFd7aoaB-eUdgZzKn4rnF/_buildManifest.js" defer=""></script><script src="/_next/static/yFd7aoaB-eUdgZzKn4rnF/_ssgManifest.js" defer=""></script></head><body><div id="__next"><style>
                #nprogress {
                  pointer-events: none;
                }
                #nprogress .bar {
                  background: #584446;
                  position: fixed;
                  z-index: 9999;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 3px;
                }
                #nprogress .peg {
                  display: block;
                  position: absolute;
                  right: 0px;
                  width: 100px;
                  height: 100%;
                  box-shadow: 0 0 10px #584446, 0 0 5px #584446;
                  opacity: 1;
                  -webkit-transform: rotate(3deg) translate(0px, -4px);
                  -ms-transform: rotate(3deg) translate(0px, -4px);
                  transform: rotate(3deg) translate(0px, -4px);
                }
                #nprogress .spinner {
                  display: block;
                  position: fixed;
                  z-index: 1031;
                  top: 15px;
                  right: 15px;
                }
                #nprogress .spinner-icon {
                  width: 18px;
                  height: 18px;
                  box-sizing: border-box;
                  border: solid 2px transparent;
                  border-top-color: #584446;
                  border-left-color: #584446;
                  border-radius: 50%;
                  -webkit-animation: nprogresss-spinner 400ms linear infinite;
                  animation: nprogress-spinner 400ms linear infinite;
                }
                .nprogress-custom-parent {
                  overflow: hidden;
                  position: relative;
                }
                .nprogress-custom-parent #nprogress .spinner,
                .nprogress-custom-parent #nprogress .bar {
                  position: absolute;
                }
                @-webkit-keyframes nprogress-spinner {
                  0% {
                    -webkit-transform: rotate(0deg);
                  }
                  100% {
                    -webkit-transform: rotate(360deg);
                  }
                }
                @keyframes nprogress-spinner {
                  0% {
                    transform: rotate(0deg);
                  }
                  100% {
                    transform: rotate(360deg);
                  }
                }
              </style><header data-nosnippet="true"><style data-emotion="css 1db5w3t">.css-1db5w3t{background-color:transparent;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:absolute;left:0;width:100%;margin-right:0rem;z-index:900;top:unset;-webkit-backdrop-filter:none;backdrop-filter:none;}@media (min-width:0px){.css-1db5w3t{padding-top:0.625rem;padding-bottom:0.625rem;}}@media (min-width:992px){[...]
